/* Container Styles */

.container {
  background: #f2f2f2;

  width: 100%;

  min-height: 100vh;

  display: flex;

  justify-content: center;
}

.contentContainer {
  width: 100%;

  max-width: 1200px;

  padding: 20px;
}

/* Video Styles */

.videoContainer {
  width: 100%;

  height: 400px;
}

/* Section Styles */

.sectionContainer {
  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;

  margin-top: 400px;
}

.sectionContainer1 {
  width: 100%;

  padding: 20px;
}

.sectionPostContainer {
  position: relative;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  background-color: white;

  border-radius: 8px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  padding: 30px;

  margin-bottom: 20px;
}

/* Title Styles */

.title1 {
  font-weight: 600;

  font-size: 24px;

  margin-bottom: 20px;

  text-align: center;
}

/* Description Styles */

.description1 {
  font-weight: 400;

  font-size: 16px;

  line-height: 1.5;

  text-align: center;

  margin-bottom: 30px;
}

/* Image Styles */

.imageUrl1 {
  width: 100%;

  max-width: 400px;

  height: auto;

  border-radius: 8px;

  margin-bottom: 20px;
}

/* Button Styles */

.button1 {
  background-color: #000000;

  color: white;

  border: none;

  border-radius: 30px;

  font-weight: 700;

  font-size: 16px;

  line-height: 1.5;

  padding: 10px 30px;

  cursor: pointer;

  transition: background-color 0.3s ease-in-out;
}

.button1:hover {
  background-color: #b3cad1;
}

/* Mobile Styles */

@media (max-width: 768px) {
  .videoContainer {
    height: 250px;
  }

  .sectionContainer {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    margin-top: 550px;
  }

  .sectionContainer1 {
    padding: 10px;
  }

  .title1 {
    font-size: 20px;
  }

  .description1 {
    font-size: 14px;

    margin-bottom: 20px;
  }

  .imageUrl1 {
    max-width: 100%;

    height: auto;

    margin-bottom: 10px;
  }
}
