.container{
  background: #F2F2F2;
  width: 100%;
  height: auto;

}
.contentContainer {
  width: 100%;

}

.videoContainer{
width: 100%;
height: 661px;
left: 0px;
}

.sectionContainer{
  position: relative;
  padding-top: 20px;

}
.sectionContainer1{
  padding-top: 50px;
  padding-bottom: 50px;
}
.title1{
  position: absolute;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 32px;
}
.description1{
  position: absolute;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.imageUrl1{
  width: 555px;
  height: 365px;
}
.leftPost .title1 {
  flex-direction: row;
  height: 197px;
  left: 11.2%;
}
.leftPost .description1{
  flex-direction: row;
  height: 197px;
  width: 500px;
  left: 11.2%;
  padding-top: 55px;
}
.leftPost .imageUrl1{
  flex-direction: row;
  padding-left: 800px;
}
.leftPost .button1{
  flex-direction: row;
  margin-top: 300px;
  width: 300px;
  height: 40px;
  left: 175px;
}

.rightPost .title1 {
  flex-direction: row-reverse;
  height: 197px;
  left: 57.9%;
}
.rightPost .description1{
  flex-direction: row-reverse;
  height: 197px;
  width: 500px;
  left: 57.9%;
  padding-top: 55px;
}
.rightPost .imageUrl1{
  flex-direction: row-reverse;
  padding-left: 11.2%;
}
.rightPost .button1{
  flex-direction: row-reverse;
  margin-top: 300px;
  width: 300px;
  height: 40px;
  left: 57.9%;
}
.button1{
  position: absolute;
  background-color: #000000;
  border-radius: 30px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  z-index: 1;
}
.button1:hover{
  background-color: #B3CAD1;
}
/* Tablets and larger screens */
@media (max-width: 768px) {
.videoContainer {
  height: max-content;
  width: 100%;
}
.title1{
  font-size: 22px;
  width: 500px;
}
.description1{
  font-size: 12px;
  line-height: 20px;
}
.imageUrl1{
  width: 200px;
  height: 200px;
}

.leftPost .title1 {
  flex-direction: row;
  height: 197px;
  left: 10px;
  right: 57.9%;
}
.leftPost .description1{
  flex-direction: row;
  height: 197px;
  width: 250px;
  left: 10px;
  right: 57.9%;
  padding-top: 40px;
}
.leftPost .imageUrl1{
  flex-direction: row;
  padding-left: 270px;
}
.leftPost .button1{
  flex-direction: row;
  margin-top: 190px;
  width: 180px;
  height: 25px;
  left: 5px;
}

.rightPost .title1 {
  flex-direction: row-reverse;
  height: 197px;
  left: 235px;
}
.rightPost .description1{
  flex-direction: row-reverse;
  height: 197px;
  width: 250px;
  left: 235px;
  padding-top: 40px;
}
.rightPost .imageUrl1{
  flex-direction: row-reverse;
  padding-left: 20px;
}
.rightPost .button1{
  flex-direction: row-reverse;
  margin-top: 190px;
  width: 180px;
  height: 25px;
  left: 235px;
}
.button1{
  font-weight: 500;
  font-size: 13px;
}
}