.all {
  display: flex;
}

.title {
  font-weight: 600;
  font-size: 60px;
  color: #272b40;
  width: 200px;
}

.content {
  border-radius: 12px;
  padding: 16px;
  background-color: aliceblue;
}

.subtitle {
  padding: 8px 0px;
  font-size: 1.1rem;
  color: darkred;
}

.cardcontent {
  /* padding-left: 16px; */
  padding-bottom: 30px;
}

.coursetitle {
  margin-top: 16px;
}

.text {
  white-space: pre-line;
}
