@import url("https://fonts.cdnfonts.com/css/optima");

/* Global styling to reset default margin and padding */

.navbarcontainer {
  height: 60px; /* Increase the height for better visibility */
  background-color: rgba(255, 255, 255, 0.9); /* Light gray background color */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust spacing between elements */
  position: fixed; /* Stick the navbar to the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #1e3356;
  font-weight: 500;
  font-family: "Optima", sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  padding: 0 20px; /* Add padding to the navbar */
  width: 100%;
}

.title {
  margin: 0;
  font-size: 1.7vw;
  font-weight: 300;
  font-family: "Optima", sans-serif;
}

.titleSup {
  font-family: "Optima", sans-serif;
  color: #899ab4;
  font-weight: 500;
  font-size: 1vw;
}

.navbar {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 30px; /* Adjust the spacing between main links */
  font-size: 1.1vw;
  text-decoration: none;
  color: #1e3356;
  padding: 8px 10px; /* Add padding to the links */
  border-radius: 4px; /* Add rounded corners to the links */
  transition: background-color 0.3s ease; /* Smooth transition for the hover effect */
}

.link:hover {
  background-color: #e9f1fd; /* Light blue background color on hover */
}

.container {
  display: flex;
}

.linkContainer {
  position: relative;
}

.subNav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(256, 256, 256, 0.7);
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 4px; /* Add rounded corners to the subNav */
}

.subLink {
  font-size: 1.1vw;
  text-decoration: none;
  color: #1e3356;
  padding: 6px 10px; /* Add padding to the subLinks */
  border-radius: 4px; /* Add rounded corners to the subLinks */
  transition: background-color 0.3s ease; /* Smooth transition for the hover effect */
}

.subLink:hover {
  background-color: #e9f1fd; /* Light blue background color on hover */
}

/* Highlight the active link */
.active .link {
  background-color: #e9f1fd;
}

.mobile {
  display: none;
}

/* Media Query for Small Screens */
@media (max-width: 1200px) {
  .mobile {
    display: block;
    height: max-content;
    width: 100%;
  }

  .navbarcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .title {
    font-size: 2.5vw;
  }

  .titleSup {
    font-size: 1.8vw;
  }

  .navbar {
    display: none;
  }

  .navbar.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .hamburgerMenu {
    display: block;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }

  .hamburgerIcon {
    font-size: 3vw;
    color: #1e3356;
    margin-right: 10px;
  }

  .mobileMenu {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    height: max-content;
  }

  .mobileMenu a {
    display: block;
    text-decoration: none;
    justify-content: center;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .mobileMenu a:hover {
    background-color: aliceblue;
  }

  .hamburgerLabel {
    font-size: 3vw;
  }

  .navbar.mobile .subNav {
    margin-top: 0;
  }

  .navbar.mobile .subLink {
    font-size: 2vw;
    width: 100%;
    text-align: center;
  }
}

/* Media Query for Small Screens */
@media (max-width: 1200px) {
  .mobile {
    display: block;
    height: max-content;
    width: 100%;
  }

  .navbarcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: max-content;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .titleSup {
    font-size: 16px;
    font-weight: 500;
  }

  .navbar {
    display: none;
  }

  .navbar.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .hamburgerMenu {
    display: block;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: max-content;
    height: max-content;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .hamburgerIcon {
    font-size: 22px;
    color: #1e3356;
    margin-right: 10px;
    margin-bottom: -4px;
  }

  .hamburgerLabel {
    font-size: 18px;
  }

  .mobileMenu {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    height: max-content;
  }

  .mobileMenu a {
    display: block;
    text-decoration: none;
    justify-content: center;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
